flask>=3.0.0
opencv-python-headless>=4.9.0
mediapipe==0.10.9
torch>=2.2.0
numpy>=1.26.0
pandas>=2.2.0
matplotlib>=3.8.0
seaborn>=0.13.0
gtts>=2.5.0
deep-translator>=1.11.4
reportlab>=4.1.0
scikit-learn>=1.4.0
tqdm>=4.66.0
pillow>=10.2.0
requests>=2.31.0
protobuf>=3.20.0,<4.0.0
